
@import '../variables';
.desktop-nav{
position:relative;
 
    .desktop-menu-items{
        width:450px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        padding:0 46px;
        display:flex;
        align-items:center;
        

        li{
            font-family:$secondaryFont;
           margin:0 16px ;
           padding:36px 0;
            cursor:pointer; 
            border-bottom:3px solid transparent; 
            transition:border 0.2s ease-in-out;
           
             &:hover{
                border-bottom:3px solid rgba($mainWhite,0.5);
             }
            @media(min-width: $desktopScreen)
            {
                margin:0 32px;
            }
            
        }
        .link{
            color:$mainWhite;
            font-style:normal;
            font-weight:normal;
            font-size:0.875rem;
            letter-spacing:2.3625px;
            text-transform:uppercase;
          


            @media(min-width: $desktopScreen)
            {
                font-size:1rem;
            }
        }

      @media(min-width:$desktopScreen){
          width: 830px;
          padding-left:0;
          padding-right: 0;
          justify-content: center;
          position:relative;
          //border:2px solid red;
         

         
      }
      .active-link{
        border-bottom: 3px solid $mainWhite;
    }

   
    }

    @media(min-width:$desktopScreen){

        &::before{
            content:"";
           
                width: 473px;
                height:1px;
                position:absolute;
              
                top:50%;
                left:-400px;
                background:rgba($mainWhite,0.25);
                mix-blend-mode: normal;
                z-index:10;
    
                @media(min-width:1800px)
                {
                    width: 873px; 
                    left:-800px;
                }
              
        
            
        }
    }
    
}

