.mobile-nav{
    padding-top:24px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .logo-icon{
        width: 40px;
        height: 40px;
        
    }
    .menu-icon{
        width: 24px;
        height:21px;
        cursor:pointer;
    }
}

