
@import '../variables';


.mobile-nav{
    
    .menu-icon{
        width: 24px;
        height:21px;
        cursor:pointer;
    }
}
.mobile-menu{
    background: rgba(0, 0, 0, 0.95);
    width:254px;
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    transform:translateX(100%);
    z-index:5;
    transition:transform 300ms ease-in-out;

    .mobile-menu-close-icon-container{
        display:flex;
        justify-content: flex-end;
        margin:33px 26px 0 0;
        img{
            cursor: pointer;
        }
    }
    .mobile-menu-items{
        margin-top:60px;
        margin-left: 32px;
        li{
            
            font-size: $fs-300;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            margin:32px 0;

            
        }
        .link{
            color:$mainWhite;
        }
    }


}


.show.mobile-menu{
   transform: translateX(0);
}

@supports(backdrop-filter: blur(2rem))
{
    .mobile-menu{
     background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(2.5rem);
    }
}

