
@import '../variables';


.mobile-nav{
    
    .menu-icon{
        width: 24px;
        height:21px;
        cursor:pointer;
    }
}
.mobile-menu{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    width:254px;
    height:100vh;
    position:absolute;
    top:0;
    right:-300px;
    z-index:5;
    display: none;
    transition:right 0.2s ease-in-out;

    .mobile-menu-close-icon-container{
        display:flex;
        justify-content: flex-end;
        margin:33px 26px 0 0;
        img{
            cursor: pointer;
        }
    }
    .mobile-menu-items{
        margin-top:60px;
        margin-left: 32px;
        li{
            
            font-size: 1rem;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            margin:32px 0;

            
        }
        .link{
            color:$mainWhite;
        }
    }


}
.show.mobile-menu{
    display: block;
    right: 0px;
}

