
@import '../variables';

.navigation-container{
    //border:2px solid red;
    padding-top:24px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    @media(min-width:$tableScreen)
    {
       padding-top:0; 
    }
    @media(min-width:$desktopScreen)
    {
        padding-top:40px;
        padding-left:16px;
    }
}