
@mixin getBackgroundImage($imageUrl) {
    
    background-image: url($imageUrl);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.col2-container{

}

.active-link {
    border-bottom: 3px solid $mainWhite;
  }