@import './variables';
.home_wrapper{
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;

    @media(min-width:767px){
        background-image: url('../assets/home/background-home-tablet.jpg');
    }
    @media(min-width:1430px)
    {
        background-image: url('../assets/home/background-home-desktop.jpg');
    }
}

.home-page-hero-section{
    margin:48px 0;
    
}

.explore-btn{
    
    width:150px;
    height:150px;
    border-radius: 50%;
    background:$mainWhite;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    color: $mainBlack;
    text-transform: uppercase;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:80px auto 48px auto;

}