@import './variables';
@import './helper';

.home_wrapper {

  @include getBackgroundImage('../assets/home/background-home-mobile.jpg');

  @media (min-width: $tableScreen) {
    @include getBackgroundImage('../assets/home/background-home-tablet.jpg');
  }
  @media (min-width: 1430px) {
    @include getBackgroundImage('../assets/home/background-home-desktop.jpg');
  }
}

.home-page-hero-section {
  margin: 48px 0;

  @media (min-width: $desktopScreen) {
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;

    .left-col {
      margin: 0;
    }
  }

  @media (min-width: 2000px) {
    padding: 0 250px;
  }
}

.left-col {
  @media (min-width: $tableScreen) {
    margin: 106px auto 0 auto;
    width: 450px;

    & > * {
      margin-bottom: 24px;
    }
  }
}

.explore-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: $mainWhite;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  text-align: center;
  color: $mainBlack;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto 48px auto;

  @media (min-width: $tableScreen) {
    width: 242px;
    height: 242px;
    font-size: 2rem;
    margin: 100px auto 90px auto;
  }

  @media (min-width: $desktopScreen) {
    width: 275px;
    height: 275px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    &::before {
      content: ' ';
      position: absolute;
      top: -80px;
      width: 450px;
      height: 450px;
      border-radius: 50%;
      background: $mainWhite;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    &:hover::before {
      opacity: 0.1;
    }
  }
}
