

$mainBlack:hsl(230°, 35%, 7%);
$mainPurple:hsl(231°, 77%, 90%);
$mainWhite:hsl(0°, 0%, 100%);

// TYPOGRAPHY
$primaryFont:'Bellefair', serif;
$secondaryFont:'Barlow Condensed', 'sans-serif';
$ternaryFont:'Barlow', sans-serif;

    
/* font-sizes */
    $fs-900: 9.375rem;
    $fs-800: 6.25rem;
    $fs-700: 3.5rem;
    $fs-600: 2rem;
    $fs-500: 1.75rem;
    $fs-400: 1.125rem;
    $fs-300: 1rem;
    $fs-200: 0.875rem;


    

$tableScreen:767px;
$desktopScreen:1439px;


$gap:1rem;